{
	email {$ACME_EMAIL}
	admin off
}

{$S3_UPLOAD_DOMAIN} {
	request_body {
		max_size 550MB
	}
	header {
		Access-Control-Allow-Origin "https://{$APP_DOMAIN}"
		Access-Control-Allow-Methods "PUT, OPTIONS"
		Access-Control-Allow-Headers "Content-Type, x-amz-content-sha256, x-amz-date, x-amz-security-token"
		Access-Control-Max-Age "600"
		Vary Origin
	}
	@preflight method OPTIONS
	respond @preflight 204
	@put method PUT
	handle @put {
		reverse_proxy minio:9000 {
			transport http {
				read_timeout 10m
				write_timeout 10m
			}
		}
	}
	respond 405
}

{$APP_DOMAIN} {
	encode zstd gzip
	request_body {
		max_size 550MB
	}
	handle /licensing-agent/windows/download {
		root * /opt/bkes/licensing-agent
		@windows file /windows/BKELicensingAgentSetup.exe
		rewrite @windows /windows/BKELicensingAgentSetup.exe
		header @windows Content-Disposition "attachment; filename=BKELicensingAgentSetup.exe"
		header Cache-Control "no-store"
		file_server
	}
	handle /licensing-agent/macos/download {
		root * /opt/bkes/licensing-agent
		@macos file /macos/BKELicensingAgentSetup.pkg
		rewrite @macos /macos/BKELicensingAgentSetup.pkg
		header @macos Content-Disposition "attachment; filename=BKELicensingAgentSetup.pkg"
		header Cache-Control "no-store"
		file_server
	}
	handle /licensing-agent/linux/download {
		root * /opt/bkes/licensing-agent
		@linux file /linux/BKELicensingAgentSetup.deb
		rewrite @linux /linux/BKELicensingAgentSetup.deb
		header @linux Content-Disposition "attachment; filename=BKELicensingAgentSetup.deb"
		header Cache-Control "no-store"
		file_server
	}
	reverse_proxy app:3000 {
		header_up X-Forwarded-Host {host}
		header_up X-Forwarded-Proto {scheme}
		header_up X-Real-IP {remote_host}
		transport http {
			read_timeout 10m
			write_timeout 10m
		}
	}
	log {
		output stdout
		format filter {
			request>headers>Paymongo-Signature delete
			wrap json
		}
	}
}
